.blurdiv {
  border-radius: 348px;
  background: #6c98ff;
  filter: blur(250px);
}
.gradient-text {
  background-image: linear-gradient(to right, #ffffff, #9fffd2);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* background-size: 200% auto;
  animation: slide 3s linear infinite; */
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sidebar {
  position: fixed;
  width: 0px;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: width 0.3s ease-in-out 0.2s;
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent; /* Adjust width of the triangle */
  border-right: 50px solid transparent; /* Adjust width of the triangle */
  border-bottom: 100px solid #ccc; /* Adjust height and color of the triangle */
}
.right-angle-triangle {
  width: 0;
  height: 0;
  /* border-bottom: 100px solid #ccc; 
  border-right: 100px solid transparent;  */
}
.loader {
  border: 4px solid white; /* Teal color with 20% opacity */
  border-top: 4px solid #008080; /* Teal color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animation duration and timing function */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  } /* Start position of the animation */
  100% {
    transform: rotate(360deg);
  } /* End position of the animation */
}

@keyframes slide {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
